src/data/flores_features/**/*.json filter=lfs diff=lfs merge=lfs -text
src/data/language_specific_features/**/*.json filter=lfs diff=lfs merge=lfs -text
src/data/multilingual_llm_features/**/*.json filter=lfs diff=lfs merge=lfs -text
